<%
if params['doit']
  if params['type'] == 'none'
    $rig.af = nil
  else
    $rig.af = Radio::Signal.new type:params['type'], id:params['id'], rate:params['rate'].to_i, output:true
  end
  response.redirect '/'
elsif params['type'] 
%>
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; <%=h '?doit=1&' + query_string %>">
  </head>
  <body>
    <p><strong>Stand by, generating coefficients and compiling filter.</strong></p>
    This may take many minutes.<br />
    Results are cached in: <%=h Radio::Utils::FIRPM_CACHE_FILENAME %>
  </body>
</html>
<% else -%>
<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
      body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
      select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
    </style>
  </head>
  <body>
    
    <h2>Audio Output Sources</h2>
    <% if (input_sources = Radio::Signal.devices.delete_if{|k,v|v[:output]==0}).empty? -%>
      No input sources found.
    <% else -%>
      <dl>
        <form action='?' method="get">
          <dt>
            <input type="submit" value="Select"%>
            <input type="hidden" name="type" value="none" %>
            No output: stop processing audio
          </dt>
        </form>
        <% input_sources.each do |k, opts| -%>
          <form action='?' method="get">
            <% input_type, input_id = k -%>
            <dt>
              <input type="submit" value="Select"%>
              <input type="hidden" name="type" value="<%=h input_type %>" %>
              <input type="hidden" name="id" value="<%=h input_id %>" %>
              <%=h input_type %>: <%=h opts[:name] %> 
            </dt>
            <dd>
              <% opts[:rates].reverse.each_with_index do |rate, index| %>
                <input type="radio" name="rate" value="<%=h rate %>" <%= "checked=checked" if index==0 %> /><%=h rate %>
              <% end -%>
            </dd>
          </form>
          <br />
        <% end -%>
      </dl>
    <% end -%>

    <h2>Driver Status</h2>
    <% Radio::Signal.status.each do |k, v| -%>
      <%=h k %>: <%=h v %> <br />
    <% end -%>

  </body>
</html>
<% end -%>
